body {
    font: 20px Arial, sans-serif;
    background-color: black;
}

.navbar {
    background-color: rgb(65, 92, 85);
}

.quem-somos {
    background-color: #8181F7;
    color: rgb(131, 14, 68);
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

#maquinas {
    background-color: rgb(36, 128, 124);
}

#servicos {
    background-color: blueviolet;
}

.bg-footer {
    background-color: rgb(94, 14, 14);
    color: rgb(189, 59, 130);
    text-align: right;
}